mixin header()
  header.header
    .container
      a(href="/")
        img(src="/images/logo.svg" alt="К 80-летию Б.С. Елепова").logo

      nav.nav
          if page == 'home'
            a(href="#about") О конференции
            a(href="#programm") Программа
            a(href="#registration") Участие
            a(href="#organizers") Организаторы
            a(href="#contacts") Контакты
          
          if page == 'biography'
            a(href="/biography") <b>Биография Б.С. Елепова</b>
            div
            a(href="/") На главную

      if !user
        div.auth-container
          a(href="/registration") Регистрация
          div
          a(href="/login") Вход
      
      if user 
        div.auth-container
          a(href="/profile") Личный кабинет
          div
          a(href="/logout").gray Выход

