mixin header()
  header.header
    .container
      a(href="/")
        img(src="/images/logo.svg" alt="К 80-летию Б.С. Елепова").logo

      nav.nav
        a(href="#") О конференции
        a(href="#") Программа
        a(href="#") Участие
        a(href="#") Организаторы
        a(href="#") Контакты

      div.auth-container
        a(href="/registration") Регистрация
        a(href="/login") Вход

