extends layouts/main_layouts

block content
  div#admin-menu
    .container.narrow
      h1.title Страница администратора
      nav.nav
        a.button.reverse(href="/admin/reports") Доклады
        a.button.reverse(href="/admin/users") Участники