extends layouts/layout_en

block content
  div#biography-page
    .container
      h1.title BORIS S. ELEPOV
      p.subtitle Boris S. Elepov was a prominent figure in librarianship in Russia, Head of the SPSTL SB RAS in 1980 – 2016.
      section.info
        div.text
          p He was born on August 13, 1942 in Kurgan, Russia. In 1960, he graduated from high school, and then he worked at the Kurgan Rebar Plant. In 1961-1966, he studied at the Novosibirsk State University where he got his diploma in Mathematics. Since 1966, he worked at the Computing Center of the Siberian Branch of Academy of Sciences of the USSR as Junior Researcher and Academic Secretary.
          p In 1975-1979, he worked in the office of the Presidium of the Siberian Branch of the USSR Academy of Sciences in the position of Head of the Department for Organization of Scientific Research and Deputy Chief Academic Secretary of the SB of the USSR Academy of Sciences.
        img(src="/images/photo-2.jpg" alt="Борис Степанович Елепов").photo
      section.info.reverse
        div.text
          p Since 1980 — Director of the SPSTL SB of the USSR Academy of Sciences (SB RAS).
          p 1972-1983 — lecturer at the Novosibirsk State University.
          p 1982-1990 — lecturer at the Novosibirsk Institute of National Economy.
          p 1974 - He defended his candidate dissertation in Physical and Mathematical Sciences on the topic "Monte Carlo algorithms for solving elliptic type equations".
          p 1982 - He was awarded the Order of the Badge of Honor.
          p 1991 - He got the Doctorate Degree in Technical Sciences for his research works in the field of Information Technology. 
        img(src="/images/photo-3.jpg" alt="Борис Степанович Елепов").photo
      section.info
        div.text
          p Since 1992 — Professor in Information Systems and Processes.
          p 1995 - He was elected a Full Member of the International Informatization Academy.
          p 1996 - He was awarded the honorary title "Honored Worker of Culture of the Russian Federation".
          p 2000 - He was awarded the title of Honorary Academician of the International Academy of Sciences.
          p Boris S. Elepov was a member of the Information and Library Council of the USSR Academy of Sciences (RAS), as well as a member of the Library Assembly of Eurasia. Until 2001, he was a member of the Council of the Russian Library Association (RLA).
          p 2001 - He was elected Vice President of the RLA.
          p 1998-2003 — Chairman of the Public Council of the Novosibirsk Branch of the Russian Cultural Foundation.
        img(src="/images/photo-4.jpg" alt="Борис Степанович Елепов").photo