extends layouts/layout_ru

block content
  div#biography-page
    .container
      h1.title Биография<br/> Бориса Степановича Елепова
      p.subtitle Борис Степанович Елепов — видный деятель библиотечного дела в России, руководитель ГПНТБ СО РАН в 1980 – 2016 гг.
      section.info
        div.text
          p Родился 13 августа 1942 г. в Кургане. В 1960 г. окончил среднюю школу, работал на Курганском арматурном заводе. В 1961–1966 гг. учился в Новосибирском государственном университете, защитил диплом по специальности «математика». С 1966 г. работал в Вычислительном центре СО АН СССР, занимал должности младшего научного сотрудника и учёного секретаря. 
          p В 1975–1979 гг. работал в аппарате Президиума СО АН СССР, в том числе начальником Управления организации научных исследований и заместителем главного учёного секретаря СО АН СССР.
        img(src="/images/photo-2.jpg" alt="Борис Степанович Елепов").photo
      section.info.reverse
        div.text
          p С 1980 г. — директор ГПНТБ СО АН СССР (СО РАН).
          p В 1972–1983 гг. — преподаватель Новосибирского государственного университета; в 1982–1990 гг.  — Новосибирского института народного хозяйства. 
          p В 1974 г. защитил диссертацию на соискание учёной степени кандидата физико-математических наук на тему «Алгоритмы метода Монте-Карло для решения уравнений эллиптического типа».
          p В 1982 г. награждён орденом «Знак Почёта».
          p В 1991 г. ему присуждена учёная степень доктора технических наук по совокупности работ в области информационных технологий. С 1992 г. — профессор по специальности «Информационные системы и процессы».  
        img(src="/images/photo-3.jpg" alt="Борис Степанович Елепов").photo
      section.info
        div.text
          p В 1995 г. избран действительным членом Международной академии информатизации.
          p В 1996 г. ему присвоено почётное звание «Заслуженный работник культуры Российской Федерации». 
          p В 2000 г. присвоено звание Почётного академика Международной академии науковедения. 
          p Б.С. Елепов — член Информационно-библиотечного совета АН СССР (РАН), а также член Библиотечной ассоциации «Евразия». До 2001 г. — член Совета Российской библиотечной ассоциации (РБА), в 2001 г. избран вице-президентом РБА. В 1998–2003 — председатель Общественного совета Новосибирского филиала Российского фонда культуры. 
        img(src="/images/photo-4.jpg" alt="Борис Степанович Елепов").photo