extends layouts/main_layouts

block content
  div#home-page
    header.top-container
      .container
        .description
          h1 Международная научно-практическая конференция «Личные книжные собрания и архивы в фондах библиотек (к 80-летию Б.С. Елепова)»
          p
            |Приглашаем вас принять участие в работе международной научно-практической конференции «Личные книжные собрания и архивы в фондах библиотек (к 80-летию Б.С. Елепова)»,
            |которая пройдёт в рамках 65-летия СО РАН 15 сентября 2022 г.
            |в Новосибирске в смешанном формате по адресу: ул. Восход, 15.
          .buttons
            a(href="#").button О конференции
            a(href="#").button.reverse Биография Б.С. Елепова
        .photo
          img(src="/images/photo-1.jpg" alt="Б.С. Елепов" width="100%")
