extends layouts/main_layouts

block content
  div#home-page
    header.top-container
      .container
        .description
          h1 Международная научно-практическая конференция «Личные книжные собрания и архивы в фондах библиотек (к 80-летию Б.С. Елепова)»
          p
            |Приглашаем вас принять участие в работе международной научно-практической конференции «Личные книжные собрания и архивы в фондах библиотек (к 80-летию Б.С. Елепова)»,
            |которая пройдёт в рамках 65-летия СО РАН 15 сентября 2022 г.
            |в Новосибирске в смешанном формате по адресу: ул. Восход, 15.
          .buttons
            a(href="#").button О конференции
            a(href="/biography").button.reverse Биография Б.С. Елепова
        .photo
          img(src="/images/photo-1.jpg" alt="Б.С. Елепов" width="100%")
    section.about#about
      .container.narrow
        h2.title О конференции
        .about-container
          p
            | В программе конференции — работа секций и дискуссионных площадок
            |по значимым вопросам книжной культуры и библиотечной деятельности:
          ul.list
            li Актуальные проблемы изучения личных книжных собраний в библиотеках: понятийный аппарат, методология, подходы;
            li Книжное наследие: изучение, сохранение и пропаганда;
            li Изучение личных книжных коллекций в контексте международных коммуникаций;
            li Личные книжные собрания в библиотеках: история поступления, вопросы изучения и использования;
            li Книги и экслибрисы из личных книжных собраний;
            li Опыт медийного представления личных библиотек;
            li Роль личности руководителя в развитии библиотеки и отдельных направлений её деятельности. Изучение научных школ на основе его публикаций;
            li Мемориальные библиотеки и комплексы: книжные коллекции и мемориальные экспозиции.

    section.programm#programm
      .container
        h2.title Программа мероприятия
        div.cards-container
          article.card
            span.number 01
            p.text Торжественное открытие конференции с возложением цветов на крыльце ГПНТБ СО РАН
          article.card
            span.number 02
            p.text Пленарное заседания: «Памяти Б.С. Елепова»;
            p.text
              | Докладчики:<br />
              | И.В. Лизунова, А.М. Посадсков,<br />
              | И.А. Гузнер, О.Л. Лаврик,<br />
              | представитель семьи Б.С. Елепова,<br />
              | Е.И. Дергачева — Скоп, Алексеев В.Н.
          article.card
            span.number 03
            p.text Научная программа: секции и круглые столы по книговедческому и библиотековедческому аспектам изучения личных книжных собраний
        section
          h2.title Сопутствующие мероприятия
          div.container.narrow
            ul.list
              li Выставка публикаций Б.С. Елепова (виртуальная и реальная);
              li Выставка фотографий;
              li Размещение ссылки на полнотекстовую БД на странице «Елеповских чтений»
    section.registration#registration
      .container.narrow
        h2.title Участие в конференции
        ul.list
          li Регистрация с докладами на сайте ГПНТБ СО РАН до 1 августа 2022 г.;
          li Лучшие доклады будут отобраны Программным комитетом для публикации в научных рецензируемых журналах «Библиосфера» (РИНЦ, ВАК) и «Труды ГПНТБ СО РАН» (РИНЦ)
        a(href="/registration").button.reverse Зарегистрироваться
    section.organizers#organizers
      .container
        h2.title Организаторы
        .organizers-list
          img(src="/images/so_ran.svg" alt="СО РАН").logo
          img(src="/images/gpntb.svg" alt="ГПНТБ").logo
          img(src="/images/rntb.svg" alt="РНТБ").logo
          img(src="/images/nloa.svg" alt="NLOA").logo
    section.contacts#contacts
      .container
        h2.title Контакты
        .card
          img(src="/images/pshenichnaya_e_v.png" alt="Пшеничная Евгения Владимировна")
          span.name Пшеничная Евгения Владимировна
          span Помощник директора по международным связям ГПНТБ СО РАН
          a(href="tel:+73833730651").phone +7 (383) 373-06-51
          a(href="mailto:pshenichnaya@spsl.nsc.ru").email pshenichnaya@spsl.nsc.ru



        
