extends layouts/main_layouts

block content
  div#profile-page
    .container.narrow
      .paper
        h1.title Личная информация
        div.info#name-field
          label.title Фамилия Имя Отчество
          input(type="text" value=`${user.name}` disabled).data
          button.btn
        div.info
          label.title Организация
          input(type="text" value=`${user.organization}` disabled).data
        div.info
          label.title Email
          input(type="text" value=`${user.email}` disabled).data
      .paper
        h1.title Доклад
        form(action="/report" method="post")
          div.info
            label(for="title").title Название доклада
            input(type="text" name="title")#title.data
          div.info
            label(for="annotation").title Аннотация
            textarea(type="text" name="annotation")#annotation.data
          button(type="button").button Прикрепить файл
  script(src="/scripts/profile.js") 