#admin-menu {
  h1.title {
    margin-top: 60px;
    font-size: 36px;
    text-align: center;
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    a {
      margin-top: 40px;
    }
  }
}