#profile-page {
  .paper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 15px;

    @media (min-width: 1200px) {
      margin-top: 40px;
    }
  }

  & > .container {
    @media (min-width: 1200px) {
      width: 590px;
    }
  }

  h1.title {
    font-size: 18px;
    align-self: center;

    @media (min-width: 1200px) {
      font-size: 36px;
    }
  }
  
  .info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .title {
      font-family: $title_font;
      font-size: 12px;
      font-weight: bold;
      color: $black_color;

      @media (min-width: 1200px) {
        font-size: 14px;
      }
    }

    .data {
      margin-top: 5px;
      padding: 20px;
      font-family: $title_font;
      font-size: 14px;
      color: $black_color;
      border: 2px solid $blue_color;
      border-radius: 15px;

      @media (min-width: 1200px) {
        font-size: 18px;
      }
    }

    textarea {
      resize: vertical;
      min-height: 240px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .button {
    align-self: center;
    margin-top: 40px;
    border: none;
  }
}