/*!*******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./styles/main.scss ***!
  \*******************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Literata", serif;
  font-size: 12px;
  line-height: 140%;
  color: #212121;
}

body {
  background-color: #f9f9f9;
}

.container {
  margin: 0 auto;
  width: 95%;
}
@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container.narrow {
    width: 795px;
  }
}

header.header {
  padding: 10px 16px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
@media (min-width: 1200px) {
  header.header {
    padding: 20px 16px;
  }
}
header.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
@media (min-width: 1200px) {
  header.header > .container {
    justify-content: flex-start;
    height: 70px;
  }
}
header.header .logo {
  width: 80px;
}
@media (min-width: 1200px) {
  header.header .logo {
    width: 120px;
  }
}
header.header nav.nav {
  display: none;
  margin-left: 40px;
}
@media (min-width: 1200px) {
  header.header nav.nav {
    display: flex;
    align-items: center;
  }
}
header.header nav.nav a {
  margin-right: 20px;
  font-family: "Nunito";
  font-size: 18px;
  text-decoration: none;
  transition-duration: 0.3s;
}
header.header nav.nav a:hover {
  color: #406882;
}
header.header nav.nav a b {
  font-family: "Nunito";
  font-size: 18px;
  text-decoration: none;
  transition-duration: 0.3s;
}
header.header nav.nav a b:hover {
  color: #406882;
}
header.header nav.nav div {
  margin-right: 10px;
  width: 2px;
  height: 20px;
  background-color: #406882;
}
@media (min-width: 1200px) {
  header.header nav.nav div {
    margin-right: 20px;
  }
}
header.header .auth-container {
  display: flex;
  align-items: center;
}
@media (min-width: 1200px) {
  header.header .auth-container {
    margin-left: auto;
  }
}
header.header .auth-container a {
  font-family: "Nunito";
  font-size: 14px;
  text-decoration: none;
}
@media (min-width: 1200px) {
  header.header .auth-container a {
    font-size: 18px;
  }
}
header.header .auth-container a.gray {
  color: #BDBDBD;
}
header.header .auth-container div {
  margin: 0 10px;
  width: 2px;
  height: 20px;
  background-color: #406882;
}
@media (min-width: 1200px) {
  header.header .auth-container div {
    margin: 0 20px;
  }
}

button.button,
a.button {
  padding: 18px 15px;
  font-family: "Nunito";
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #406882;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #406882;
  transition-duration: 0.3s;
}
button.button:hover,
a.button:hover {
  background-color: #FFF;
  color: #406882;
}
button.button.reverse,
a.button.reverse {
  color: #406882;
  background-color: transparent;
  border: 2px solid;
}
button.button.reverse:hover,
a.button.reverse:hover {
  background-color: #406882;
  color: #fff;
  border-color: #406882;
}
@media (min-width: 1200px) {
  button.button,
a.button {
    padding: 28px 15px;
    font-size: 18px;
  }
}

footer.footer {
  margin-top: 100px;
  padding: 20px 16px;
  background-color: #212121;
}
@media (min-width: 1200px) {
  footer.footer {
    margin-top: 140px;
    padding: 40px 16px;
  }
}
footer.footer > .container {
  display: flex;
  justify-content: center;
}
footer.footer .logo {
  width: 80px;
}
@media (min-width: 1200px) {
  footer.footer .logo {
    width: 120px;
  }
}

ul.list li {
  margin-left: 18px;
  margin-top: 10px;
  font-family: "Nunito";
  font-size: 12px;
}
@media (min-width: 1200px) {
  ul.list li {
    font-size: 18px;
  }
}
ul.list li::marker {
  color: #406882;
}
@media (min-width: 1200px) {
  ul.list li {
    margin-top: 20px;
  }
}

#home-page section {
  margin-top: 100px;
}
@media (min-width: 1200px) {
  #home-page section {
    margin-top: 140px;
  }
}
#home-page h2.title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1200px) {
  #home-page h2.title {
    font-size: 36px;
  }
}
#home-page header.top-container {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  #home-page header.top-container {
    margin-top: 40px;
  }
}
#home-page header.top-container > .container {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1200px) {
  #home-page header.top-container > .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
#home-page header.top-container .description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  #home-page header.top-container .description {
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
}
#home-page header.top-container .description h1 {
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 1200px) {
  #home-page header.top-container .description h1 {
    font-size: 36px;
  }
}
#home-page header.top-container .description p {
  margin-top: 20px;
  font-size: 12px;
}
@media (min-width: 1200px) {
  #home-page header.top-container .description p {
    margin-top: 40px;
    font-size: 18px;
  }
}
#home-page header.top-container .description .buttons {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-top: 20px;
  width: 210px;
}
@media (min-width: 1200px) {
  #home-page header.top-container .description .buttons {
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    margin-top: 60px;
    width: 100%;
  }
}
#home-page header.top-container .description .buttons .button {
  margin-top: 20px;
  width: 100%;
}
@media (min-width: 1200px) {
  #home-page header.top-container .description .buttons .button {
    margin-top: 0;
    width: 285px;
  }
}
#home-page header.top-container .photo {
  width: 100%;
}
@media (min-width: 1200px) {
  #home-page header.top-container .photo {
    width: 48%;
  }
}
#home-page .about .about-container {
  margin-top: 20px;
}
#home-page .about p {
  font-size: 12px;
  font-family: "Nunito";
}
@media (min-width: 1200px) {
  #home-page .about p {
    font-size: 18px;
  }
}
#home-page .programm .cards-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  #home-page .programm .cards-container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }
}
#home-page .programm .card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
@media (min-width: 1200px) {
  #home-page .programm .card {
    margin-top: 0;
    width: 385px;
  }
}
#home-page .programm .card .number {
  font-family: "Nunito";
  font-size: 36px;
  font-weight: bold;
  color: #406882;
}
#home-page .programm .card .text {
  margin-top: 10px;
  font-family: "Nunito";
  font-size: 12px;
}
@media (min-width: 1200px) {
  #home-page .programm .card .text {
    margin-top: 20px;
    font-size: 18px;
  }
}
#home-page .registration {
  padding: 20px 16px;
  background-color: #406882;
}
#home-page .registration > .container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  #home-page .registration {
    padding: 40px 16px;
  }
}
#home-page .registration h2.title {
  color: #fff;
}
#home-page .registration ul.list li {
  color: #fff;
}
#home-page .registration ul.list li::marker {
  color: #fff;
}
#home-page .registration .button {
  align-self: center;
  margin-top: 40px;
  color: #fff;
}
#home-page .registration .button:hover {
  color: #406882;
  background-color: #fff;
}
@media (min-width: 1200px) {
  #home-page .registration .button {
    margin-top: 60px;
  }
}
#home-page .organizers .organizers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  #home-page .organizers .organizers-list {
    flex-direction: row;
    justify-content: space-between;
  }
}
#home-page .organizers .logo {
  margin-top: 20px;
  width: 200px;
}
@media (min-width: 1200px) {
  #home-page .organizers .logo {
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  #home-page .contacts > .container {
    width: 590px;
  }
}
#home-page .contacts .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
@media (min-width: 1200px) {
  #home-page .contacts .card {
    margin-top: 40px;
  }
}
#home-page .contacts .card img {
  width: 60px;
  height: 60px;
}
#home-page .contacts .card span, #home-page .contacts .card a {
  margin-top: 10px;
  font-family: "Nunito";
  font-size: 12px;
  text-align: center;
}
@media (min-width: 1200px) {
  #home-page .contacts .card span, #home-page .contacts .card a {
    font-size: 18px;
  }
}
#home-page .contacts .card .name {
  font-weight: bold;
}
#home-page .contacts .card a {
  position: relative;
  text-decoration: none;
  color: #406882;
}
#home-page .contacts .card .phone::before {
  content: "";
  position: absolute;
  left: -24px;
  width: 15px;
  height: 15px;
  background-image: url("/images/phone-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1200px) {
  #home-page .contacts .card .phone::before {
    top: 6px;
  }
}
#home-page .contacts .card .email::before {
  content: "";
  position: absolute;
  left: -24px;
  width: 18px;
  height: 15px;
  background-image: url("/images/email-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1200px) {
  #home-page .contacts .card .email::before {
    top: 6px;
  }
}

#biography-page h1.title {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1200px) {
  #biography-page h1.title {
    margin-top: 40px;
    font-size: 36px;
  }
}
#biography-page p.subtitle {
  margin-top: 20px;
  font-family: "Nunito";
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1200px) {
  #biography-page p.subtitle {
    margin: 40px auto 0;
    font-size: 18px;
    max-width: 790px;
  }
}
#biography-page .info {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  #biography-page .info.reverse {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1200px) {
  #biography-page .info {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }
}
#biography-page .text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  #biography-page .text {
    justify-content: center;
    margin-top: 0;
    width: 50%;
  }
}
#biography-page .text p {
  margin-top: 10px;
  font-family: "Nunito";
  font-size: 12px;
}
#biography-page .text p:first-child {
  margin-top: 0;
}
@media (min-width: 1200px) {
  #biography-page .text p {
    font-size: 18px;
  }
}
#biography-page .photo {
  width: 100%;
}
@media (min-width: 1200px) {
  #biography-page .photo {
    width: 48%;
  }
}

#registration-page .paper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
@media (min-width: 1200px) {
  #registration-page .paper {
    margin-top: 140px;
  }
}
@media (min-width: 1200px) {
  #registration-page > .container {
    width: 590px;
  }
}
#registration-page h1.title {
  font-size: 18px;
  align-self: center;
}
@media (min-width: 1200px) {
  #registration-page h1.title {
    font-size: 36px;
  }
}
#registration-page h2.error {
  margin-top: 20px;
  text-align: center;
  color: red;
}
#registration-page .form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
@media (min-width: 1200px) {
  #registration-page .form {
    margin-top: 140px;
  }
}
#registration-page .form input[type=text],
#registration-page .form input[type=email],
#registration-page .form input[type=password] {
  margin-top: 20px;
  font-family: "Nunito";
  font-size: 12px;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  outline: none;
}
#registration-page .form input[type=text]:focus,
#registration-page .form input[type=email]:focus,
#registration-page .form input[type=password]:focus {
  color: #406882;
  border-bottom-color: #406882;
}
#registration-page .form input[type=text].error,
#registration-page .form input[type=email].error,
#registration-page .form input[type=password].error {
  border-color: red;
}
@media (min-width: 1200px) {
  #registration-page .form input[type=text],
#registration-page .form input[type=email],
#registration-page .form input[type=password] {
    font-size: 14px;
  }
}
#registration-page .form .checkbox {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  #registration-page .form .checkbox {
    align-self: center;
    margin-top: 40px;
  }
}
#registration-page .form .checkbox label {
  margin-left: 8px;
  font-family: "Nunito";
  font-size: 12px;
}
@media (min-width: 1200px) {
  #registration-page .form .checkbox label {
    font-size: 14px;
  }
}
#registration-page .form .button {
  align-self: center;
  margin-top: 40px;
}
#registration-page .form .error {
  display: none;
  color: red;
  font-size: 12px;
}
@media (min-width: 1200px) {
  #registration-page .form .error {
    font-size: 14px;
  }
}
#registration-page .form .error.show {
  display: block;
}

#login-page .paper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
@media (min-width: 1200px) {
  #login-page .paper {
    margin-top: 140px;
  }
}
@media (min-width: 1200px) {
  #login-page > .container {
    width: 590px;
  }
}
#login-page h1.title {
  font-size: 18px;
  align-self: center;
}
@media (min-width: 1200px) {
  #login-page h1.title {
    font-size: 36px;
  }
}
#login-page h2.error {
  margin-top: 20px;
  text-align: center;
  color: red;
}
#login-page .form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
#login-page .form input[type=email],
#login-page .form input[type=password] {
  margin-top: 20px;
  font-family: "Nunito";
  font-size: 12px;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  outline: none;
}
#login-page .form input[type=email]:focus,
#login-page .form input[type=password]:focus {
  color: #406882;
  border-bottom-color: #406882;
}
@media (min-width: 1200px) {
  #login-page .form input[type=email],
#login-page .form input[type=password] {
    font-size: 14px;
  }
}
#login-page .form .button {
  align-self: center;
  margin-top: 60px;
  width: 200px;
}
@media (min-width: 1200px) {
  #login-page .form .button {
    width: 285px;
  }
}
#login-page .form .error {
  display: none;
  color: red;
  font-size: 12px;
}
@media (min-width: 1200px) {
  #login-page .form .error {
    font-size: 14px;
  }
}
#login-page .form .error.show {
  display: block;
}

#profile-page .paper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
@media (min-width: 1200px) {
  #profile-page .paper {
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  #profile-page > .container {
    width: 590px;
  }
}
#profile-page h1.title {
  font-size: 18px;
  align-self: center;
}
@media (min-width: 1200px) {
  #profile-page h1.title {
    font-size: 36px;
  }
}
#profile-page .info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
#profile-page .info .title {
  font-family: "Nunito";
  font-size: 12px;
  font-weight: bold;
  color: #212121;
}
@media (min-width: 1200px) {
  #profile-page .info .title {
    font-size: 14px;
  }
}
#profile-page .info .data {
  margin-top: 5px;
  padding: 20px;
  font-family: "Nunito";
  font-size: 14px;
  color: #212121;
  border: 2px solid #406882;
  border-radius: 15px;
}
#profile-page .info .data:disabled {
  border-color: #B1D0E0;
}
@media (min-width: 1200px) {
  #profile-page .info .data {
    font-size: 18px;
  }
}
#profile-page .info button.btn {
  position: absolute;
  top: 45px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-image: url(/images/edit-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}
@media (min-width: 1200px) {
  #profile-page .info button.btn {
    top: 48px;
    width: 25px;
    height: 25px;
  }
}
#profile-page .info button.btn.save {
  background-image: url(/images/save-icon.svg);
}
#profile-page .info textarea {
  resize: vertical;
  min-height: 240px;
}
#profile-page form {
  display: flex;
  flex-direction: column;
}
#profile-page #file {
  display: none;
}
#profile-page #file + label {
  padding: 18px 15px;
  font-family: "Nunito";
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #406882;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #406882;
  transition-duration: 0.3s;
}
#profile-page #file + label:hover {
  background-color: #FFF;
  color: #406882;
}
@media (min-width: 1200px) {
  #profile-page #file + label {
    padding: 28px 15px;
    font-size: 18px;
  }
}
#profile-page .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
