button.button,
a.button {
  padding: 18px 15px;
  font-family: 'Nunito';
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: $blue_color;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid $blue_color;
  transition-duration: .3s;

  &:hover {
    background-color: #FFF;
    color: $blue_color;
  }

  &.reverse {
    color: $blue_color;
    background-color: transparent;
    border: 2px solid;

    &:hover {
      background-color: $blue_color;
      color: #fff;
      border-color: $blue_color;
    }
  }
  
  @media (min-width: 1200px) {
    padding: 28px 15px;
    font-size: 18px;
  }
}