header.header {
  padding: 10px 16px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  
  @media (min-width: 1200px) {
    padding: 20px 16px;
  }

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    @media (min-width: 1200px) {
      height: 70px;
    }
  }

  .logo {
    width: 80px;

    @media (min-width: 1200px) {
      width: 120px;
    }
  }

  nav.nav {
    display: none;
    margin-left: 40px;

    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
    }

    a {
      margin-right: 20px;
      font-family: 'Nunito';
      font-size: 18px;
      text-decoration: none;
      transition-duration: .3s;

      &:hover {
        color: #406882;
      }

      b {
        font-family: 'Nunito';
        font-size: 18px;
        text-decoration: none;
        transition-duration: .3s;
  
        &:hover {
          color: #406882;
        }
      }
    }


    div {
      margin-right: 10px;
      width: 2px;
      height: 20px;
      background-color: $blue_color;
      
      @media (min-width: 1200px) {
        margin-right: 20px;
      }
    }
  }

  .auth-container {
    display: flex;
    align-items: center;
    margin-left: auto;

    a {
      font-family: 'Nunito';
      font-size: 14px;
      text-decoration: none;
      
      @media (min-width: 1200px) {
        font-size: 18px;
      }

      &.gray {
        color: #BDBDBD;
      }
    }

    div {
      margin: 0 10px;
      width: 2px;
      height: 20px;
      background-color: $blue_color;
      
      @media (min-width: 1200px) {
        margin: 0 20px;
      }
    }
  }

  .langs-container {
    display: flex;
    align-items: center;
    margin-left: 20px;

    a {
      font-family: 'Nunito';
      font-size: 14px;
      text-decoration: none;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
      
      @media (min-width: 1200px) {
        font-size: 18px;
      }

      &.gray {
        color: #BDBDBD;
      }
    }
  }
}